body {
  /* background-image: url("./assets/assets/bg-mobile.jpg");
  background-size: no-repeat;
  background-position: top center;
  background-size: cover; */

  /* background: color image no-repeat */
  background: url(./assets/assets/bg-mobile.jpg) no-repeat top center/cover;
}
